@page "/addrecord"
@using MoneyManager.Client.Components
@using MoneyManager.Client.Services
@using System.Net
@using MoneyManager.Client.ViewModels
@inject IHttpRecordService _httpService

<button class="btn btn-primary" @onclick="@(x => OpenDeleteDialog())">Add new record</button>
<div>
    <p>@_error</p>
</div>

@if (DeleteDialogOpen)
{
    <RecordFormDialog Title="Add new record" RecurringRecordsPanel="true" OnClose="CloseDeleteDialog" FormRecordItem="ReturnedRecord" RecurringRecordItem="ReturnedRecurringRecord" TypeOfDialog="RecordFormDialog.TypeOfRecordFormlDialog.AddRecord"></RecordFormDialog>
}

@code {
    private RecordVM? _recordItem;
    private RecurringRecordVM? _recurringRecordItem;
    private string? _error;

    private bool DeleteDialogOpen { get; set; }

    protected async Task CloseDeleteDialog(bool deleteConfirmed)
    {
        if (deleteConfirmed && _recordItem != null)
        {
            try
            {
                var response = await _httpService.CreateItem(_recordItem, "/api/tracker/");
                if (response == null) return;
                if (response.StatusCode != HttpStatusCode.OK)
                {
                    _error = await response.Content.ReadAsStringAsync();
                }
            }
            catch (Exception ex)
            {
                _error = ex.Message;
            }
        }
        if (deleteConfirmed && _recurringRecordItem != null)
        {
            try
            {
                var response = await _httpService.CreateItem(_recurringRecordItem, "api/recurring");
                if (response == null) return;
                if (response.StatusCode != HttpStatusCode.OK)
                {
                    _error = await response.Content.ReadAsStringAsync();
                }
            }
            catch (Exception ex)
            {
                _error = ex.Message;
            }
        }
        DeleteDialogOpen = false;
        StateHasChanged();
    }

    private void OpenDeleteDialog()
    {
        DeleteDialogOpen = true;
        StateHasChanged();
    }

    private void ReturnedRecord(RecordVM RecordVM)
    {
        _recordItem = RecordVM;
    }

    private void ReturnedRecurringRecord(RecurringRecordVM RecurringRecordVM)
    {
        _recurringRecordItem = RecurringRecordVM;
    }
}