@page "/forgotpassword"
@using Microsoft.AspNetCore.WebUtilities;
@inject NavigationManager navManager

<PageTitle>ForgotPassword</PageTitle>

<h1>Forgot password siteeee</h1>

<h3>@_token</h3>
<h3>User ID: @_userId</h3>

@code {
    private string _token = "";
    private int _userId = 0;

    protected override void OnInitialized()
    {
        Navigate();
    }

    void Navigate()
    {
        var query = new Dictionary<string, string>();

        navManager.NavigateTo(QueryHelpers.AddQueryString(navManager.Uri, query));

        var uri = navManager.ToAbsoluteUri(navManager.Uri);

        if (QueryHelpers.ParseQuery(uri.Query).TryGetValue("access_token", out var param))
        {
            _token = param.First();
        }
        if (QueryHelpers.ParseQuery(uri.Query).TryGetValue("user_id", out var param2))
        {
            _userId = int.Parse(param2.First());
        }
    }
}
