@page "/"
@using System.IO
@using MoneyManager.Client.Components
@using MoneyManager.Client.Pages.LoginUsers;
@using MoneyManager.Client.Services;
@inject IJSRuntime JS
@inject NameOfSubpage nameOfSubpage
@inject AuthenticationState authenticationState

<PageTitle>Home</PageTitle>

<div class="card mb-2">
    <div class="card-body">
        <h4>
            This is your <a><b>Money Manager</b></a>. It will help you to track and analyse your finances and planning budgets.
        </h4>
        @if (!authenticationState.LoggedIn)
        {
            <h5>To start tracking your finances, first <a href="register">create an account</a>.</h5>
        }
        <p class="introduction mb-0">
            <br />
            You can save your incomes and expenses in the <span class="oi oi-list-rich" /><a href="/tracker"><b> Financial Dashboard</b></a>.
            <br />
            <br />
            Recurring expenses such as subscriptions can be sasved in the <span class="oi oi-loop-circular" /><a href="recurring"><b> Recurring Record</b></a> panel. Thanks to this, they will be automaticlly adding to Financial Dashboard on specyfic day of month.
            <br />
            <br />
            The <span class="oi oi-calculator" /><a href="/plannedbudgets"><b> Planning Budget</b></a> tab, wil help you plan your budget for next months for individual categories.
            <br />
            <br />
            You can assign categories to your income and expenses that you can create yourself. Every categories are located in <span class="oi oi-tags"/><a href="/categories"><b> Categories</b></a> tab.
            <br />
            <br />
            You can observe your finances on the graphs in the <span class="oi oi-bar-chart" /><a href="statistics"><b> Statistics</b></a> tab.
            <br />
            <br />
            If you are interested in cryptocurrencies and you have them, you can add them in the <span class="oi oi-beaker" /><a href="cryptocurrencies"><b> Crypto Assets</b></a> tab and track their value.
        </p>
    </div>
</div>

<div class="card">
    <div class="card-body">
        The last expense
    </div>
</div>

<div class="card">
    <div class="card-body">
        Last Income
    </div>
</div>

<div class="card">
    <div class="card-body">
        Summary of the month
    </div>
</div>

<div class="card">
    <div class="card-body">
        Summary of the year
    </div>
</div>

@*<style>
    a, a:hover, a:focus, a:active {
        text-decoration: none;
        color: inherit;
    }
</style>*@

@code {
    protected override void OnInitialized()
    {
        nameOfSubpage.NamesOfSubpage = NamesOfSubpageEnum.MainDashboard;
    }
}