@page "/"
@using System.IO
@using MoneyManager.Client.Components
@inject IJSRuntime JS
@inject NameOfSubpage nameOfSubpage
@inject IStringLocalizer<Resource> localizer

<PageTitle>Home</PageTitle>

<div class="card mb-2">
    <div class="card-body">
        <h4>
            This is your <a><b>Money Manager</b></a>. It will help you to track and analyse your finances and planning budgets.
        </h4>
        <h4>@Resource.hello</h4>
        <h4>@localizer["hello"]</h4>
        <p class="introduction mb-0">
            You can save your incomes and expenses in the <a><b>Financial Dashboard</b></a>.
            <br />
            Recurring expenses such as subscriptions can be sasved in the <a><b>Recurring Record</b></a> panel. Thanks to this, they will be automaticlly adding to Financial Dashboard on specyfic day of month.
            <br />
            The <a><b>Planning Budget</b></a> tab, wil help you plan your budget for next months for individual categories.
            <br />
            You can assign categories to your income and expenses that you can create yourself. Every categories are located in <a><b>Categories</b></a> tab.
        </p>
    </div>
</div>

<div class="card">
    <div class="card-body">
        The last expense

    </div>
</div>

<div class="card">
    <div class="card-body">
        Last Income
    </div>
</div>

<div class="card">
    <div class="card-body">
        Summary of the month
    </div>
</div>

<div class="card">
    <div class="card-body">
        Summary of the year
    </div>
</div>

@*<style>
    a, a:hover, a:focus, a:active {
        text-decoration: none;
        color: inherit;
    }
</style>*@

@code {
    protected override void OnInitialized()
    {
        nameOfSubpage.NamesOfSubpage = NamesOfSubpageEnum.MainDashboard;
    }
}