@page "/login"
@using MoneyManager.Client.Services
@using MoneyManager.Client.ViewModels
@using Newtonsoft.Json
@using System.IdentityModel.Tokens.Jwt
@using System.Security.Claims
@inject HttpClient http;
@inject NavigationManager navigationManager
@inject ILocalStorageService _localStorage
@inject AppState appState
@inject IHttpRecordService _httpService

<PageTitle>Login</PageTitle>

<div class="col-md-6 offset-md-3 mt-5">
    <div class="card">
        <h4 class="card-header">Login</h4>
        <div class="card-body">
            <EditForm Model="@LoginUserVM" OnValidSubmit="HandleValidSubmit">
                <DataAnnotationsValidator />
                <div class="form-group">
                    <label>Username</label>
                    <InputText @bind-Value="LoginUserVM.Email" class="form-control" />
                    <ValidationMessage For="@(() => LoginUserVM.Email)" />
                </div>
                <div class="form-group">
                    <label>Password</label>
                    <InputText @bind-Value="LoginUserVM.Password" type="password" class="form-control" />
                    <ValidationMessage For="@(() => LoginUserVM.Password)" />
                </div>
                <button class="btn btn-primary">
                    @if (loading)
                    {
                        <span class="spinner-border spinner-border-sm mr-1"></span>
                    }
                    Login
                </button>
                @if (!string.IsNullOrEmpty(error))
                {
                    <div class="alert alert-danger mt-3 mb-0">@error</div>
                }
            </EditForm>
        </div>
    </div>
</div>

@code {
    private LoginUserVM LoginUserVM = new LoginUserVM();
    private bool loading;
    private string? error;

    protected override void OnInitialized()
    {
        // redirect to home if already logged in i

    }

    private async void HandleValidSubmit()
    {
        loading = true;
        try
        {
            var result = await http.PostAsJsonAsync("/api/account/login", LoginUserVM);
            //UserTokenVM token = new UserTokenVM();
            //token.Token = await result.Content.ReadAsStringAsync();

            if (result.StatusCode == System.Net.HttpStatusCode.OK)
            {
                UserTokenVM userToken = JsonConvert.DeserializeObject<UserTokenVM>(await result.Content.ReadAsStringAsync()) ?? new();
                var tokenHandler = new JwtSecurityTokenHandler();
                userToken.UserId = int.Parse(tokenHandler.ReadJwtToken(userToken.Token).Claims.First(c => c.Type == ClaimTypes.NameIdentifier).Value);
                await _localStorage.SetItem<UserTokenVM>("user", userToken);
                appState.LoggedIn = true;
                navigationManager.NavigateTo("tracker");
                await _httpService.GetListOfItems("api/recurring/ex");
            }
            else
            {
                error = await result.Content.ReadAsStringAsync();
                loading = false;
                StateHasChanged();
            }
        }
        catch (Exception ex)
        {
            error = ex.Message;
            loading = false;
            StateHasChanged();
        }
    }
}