@page "/settings"
@using System.Globalization
@using MoneyManager.Client.Services;
@inject NameOfSubpage nameOfSubpage

<PageTitle>Settings</PageTitle>

<p>Select currency:</p>
<select>
    @foreach (var item in CultureInfo.GetCultures(CultureTypes.AllCultures))
    {
        <option>@item.Name</option>
    }
</select>

@code {
    protected override void OnInitialized()
    {
        nameOfSubpage.NamesOfSubpage = NamesOfSubpageEnum.Settings;
    }
}