@page "/statistics"
@using MoneyManager.Client.Components.Charts
@using MoneyManager.Client.Services;
@inject ErrorMessage errorMessage
@inject NameOfSubpage nameOfSubpage

<PageTitle>Statistics</PageTitle>

<div class="card mb-2">
    <div class="card-body">
        <CategoryBarChartForTheYear ErrorMessage="ErrorMessageSetter"></CategoryBarChartForTheYear>
    </div>
</div>

<div class="card mb-2">
    <div class="card-body">
        <BarChartForTotal ErrorMessage="ErrorMessageSetter"></BarChartForTotal>
    </div>
</div>

@code {

    private void ErrorMessageSetter(string msg)
    {
        errorMessage.Message = msg;
    }

    protected override void OnInitialized()
    {
        nameOfSubpage.NamesOfSubpage = NamesOfSubpageEnum.Statistics;
    }
}