<div>
    <Select @bind-SelectedValue="@_selectedYear">
        @foreach (var year in Years)
        {
            <SelectItem Value="year">@year</SelectItem>
        }
    </Select>
</div>

@code{
    [Parameter]
    public List<int> Years { get; set; } = null!;
    //indexof

    private int _selectedYear;
}